@font-face {
  font-family: 'League Spartan';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/LeagueSpartan-Bold.otf'); /* IE9 Compat Modes */
}

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat+Alternates');
@import './abstract/variables.scss';
@import './abstract/mixins.scss';
@import './abstract/breakpoint.scss';
@import './base/override.scss';
@import './base/base.scss';
@import './base/typography.scss';
@import './base/spacing.scss';
@import './base/graphs.scss';
@import './components/realmSelection.scss';
@import './components/mainList.scss';
@import './components/displayPrices.scss';
@import './components/wHLink.scss';



