@font-face {
  font-family: 'League Spartan';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/LeagueSpartan-Bold.otf'); /* IE9 Compat Modes */
}

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat+Alternates');
@import './base/variables.scss';
@import './base/graphs.scss';
@import './components/realmSelection.scss';
@import './components/mainList.scss';
@import './components/displayPrices.scss';
@import './components/wHLink.scss';

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Montserrat Alternates', sans-serif !important; 
  background-color: $body-bg !important;
}

.main{
  padding: 50px;
}

.step{
  font-size: 19px;
  margin-bottom: 0;
  color: #444444;
  text-transform: uppercase;
  .done{
  color: darkgray;
}}
ul{  
  list-style: none;
}

.InputTextFilter input{
  margin: 20px auto;
    height: 30px;
    width: 400px;
    font-size: 18px;
    padding: 2px 8px;
    align-items: center;
    background-color: hsl(0,0%,98%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
}

.ant-spin-blur {
  background-color: #f0f0f0;
}

.lined-title{
  color: #616161;
  text-align: left;
  padding-left: 50px;
  span{
    padding: 15px;
    background: $body-bg;
  }
  &:before{
    content: "";
    display: block;
    width: 95vw;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    margin: 0 auto;
    right: 0;
    left: 0;
    background-color: #616161;
  }
}