@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat+Alternates");
@font-face {
  font-family: 'League Spartan';
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/LeagueSpartan-Bold.otf");
  /* IE9 Compat Modes */ }

.realmSelection .select-realm {
  display: inline-block;
  margin: 20px auto;
  height: 30px;
  width: 400px;
  font-size: 20px; }

.realmSelection .btn-large {
  display: inline-block;
  height: 45px;
  font-size: 20px;
  min-width: 70px;
  margin-left: 20px; }

.MainList .container-item-display {
  margin-top: 50px; }
  .MainList .container-item-display .list {
    text-align: center;
    padding-left: 0;
    overflow-y: auto;
    min-height: 100px;
    padding: 5px; }
    .MainList .container-item-display .list > div {
      display: flex;
      flex-wrap: wrap;
      align-content: stretch;
      height: 100%; }
    .MainList .container-item-display .list .list-item {
      width: 270px;
      display: inline-block;
      padding: 5px 10px; }
      .MainList .container-item-display .list .list-item.active {
        border-color: #40a9ff;
        outline: 0;
        -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        border-right-width: 1px !important; }
      .MainList .container-item-display .list .list-item h6 {
        display: block;
        font-size: 18px;
        font-weight: bold; }
      .MainList .container-item-display .list .list-item ul {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        height: 100%;
        padding: 0; }
        .MainList .container-item-display .list .list-item ul li {
          display: inline-block;
          width: 33.333332%; }

.MainList .itemLanguageBtn {
  margin-top: 20px;
  text-align: right; }

.ant-table-like {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.85);
  border: 1px solid #e8e8e8;
  padding: 16px 16px;
  border-top-left-radius: 4px; }

.money-icon {
  background: no-repeat;
  width: 15px;
  height: 12px;
  display: inline-block;
  background-size: 90%; }
  .money-icon.gold {
    background-image: url("../img/money-gold.gif"); }
  .money-icon.silver {
    background-image: url("../img/money-silver.gif"); }
  .money-icon.copper {
    background-image: url("../img/money-copper.gif"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Montserrat Alternates', sans-serif !important;
  background-color: #fefefe !important; }

.main {
  padding: 50px; }

.step {
  font-size: 19px;
  margin-bottom: 0;
  color: #444444;
  text-transform: uppercase; }
  .step .done {
    color: darkgray; }

ul {
  list-style: none; }

.InputTextFilter input {
  margin: 20px auto;
  height: 30px;
  width: 400px;
  font-size: 18px;
  padding: 2px 8px;
  align-items: center;
  background-color: #fafafa;
  border-color: #cccccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default; }

.ant-spin-blur {
  background-color: #f0f0f0; }

.lined-title {
  color: #616161;
  text-align: left;
  padding-left: 50px; }
  .lined-title span {
    padding: 15px;
    background: #fefefe; }
  .lined-title:before {
    content: "";
    display: block;
    width: 95vw;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    margin: 0 auto;
    right: 0;
    left: 0;
    background-color: #616161; }
